<app-header
  title="Ingresa a tu cuenta"
  subtitle="¿No estas inscrito aún?"
  link="Registrate acá"
  route="/auth/signup">
</app-header>

<mat-card-content>
  <form [formGroup]="signinForm"
        autocomplete="on"
        fxLayout="column">

    <!-- <mat-spinner></mat-spinner> -->

    <!-- Email -->
    <mat-form-field appearance="fill">
      <mat-label>Correo Electrónico</mat-label>
      <mat-icon matPrefix>alternate_email</mat-icon>
      <input matInput
            type="email"
            formControlName="email"
            (keyup.enter)="enter($event)"
            placeholder="Ingrese correo">
      <button mat-icon-button
              *ngIf="this.email.value"
              matSuffix
              aria-label="Clear"
              (cdkAutofill)="false"
              (click)="this.email.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="emailErrorMsg">
        {{ this.emailErrorMsg }}
      </mat-error>
    </mat-form-field>
    <br>
    <!-- Password -->
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <mat-icon matPrefix>password</mat-icon>
      <input matInput
            type="password"
            formControlName="password"
            (keyup.enter)="enter($event)"
            placeholder="Ingrese contraseña">
      <button mat-icon-button aria-label="Clear"
              matSuffix *ngIf="this.password.value"
              (cdkAutofill)="false"
              (click)="this.password.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="this.password.hasError">
        Contraseña es obligatoria
      </mat-error>
    </mat-form-field>

    <p id="forgot"><a [href]="['/auth/forgot-password']">¿Olvidaste tu contraseña?</a></p>

    <!-- Iniciar sesion -->
    <button mat-flat-button
            (click)="signin()"
            color="primary">
      Iniciar sesión
    </button>

  </form>
</mat-card-content>
