.content {
  width: 100%
}

.top_filters {
  margin-top: 10px;
}

.add_master {
  padding-top: 10px;
  margin-bottom: 10px;
}

tr {
  width: 100%;
}

.col_pos {
  width: 50px;
}

td mat-form-field {
  width: 100%;
}

td button {
  margin-top: 2px;
  width: 50px;
  height: 55px;
}
