.content {
  width: 100%;
}

.search {
  padding-top: 10px;
}

.location {
  width: 300px;
}

.search_btn {
  width: 200px;
  height: 50px;
  margin-left: 10px;
}

.courses_list{
  width: 100%;
  margin-top: 30px;
}

.w-100 {
  width: 100%;
}

td mat-form-field {
  width: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.btn_schedule {
  margin-top: 3px;
  width: 50px;
  height: 50px;
}

td mat-button-toggle {
  width: 100%;
}
