<h1>Cursos</h1>
<mat-divider></mat-divider>

<div class="content"
     fxLayout="column">

  <div class="search"
       fxLayout="row"
       [formGroup]="searchForm">

      <mat-form-field appearance="fill"
                      class="location">
        <mat-label>Sede</mat-label>
        <mat-select formControlName="location">
          <mat-option *ngFor="let item of listLocations" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button
              class="search_btn"
              color="primary"
              (click)="searchCourses()">
        Buscar
      </button>

  </div>

  <!-- List Courses -->
  <div class="courses_list"
       *ngIf="courses.length"
       [formGroup]="coursesForm"
       fxLayout="column">

    <h2>Cursos {{ catalog.location?.name }}</h2>
    <mat-divider></mat-divider>

    <div class="mt-10"
         fxLayout="row"
         fxLayoutGap="10px">
      <button mat-raised-button
              color="primary"
              (click)="saveCourse()">
        Guardar
      </button>
      <button mat-raised-button
              (click)="appendCourseForm()">
        Agregar
      </button>
    </div>

    <table class="courses_list">

      <thead>
        <tr fxLayout="row wrap">
          <th fxFlex="3" scope="col">Cód</th>
          <th fxFlex="15" scope="col">Piscina</th>
          <th fxFlex="5" scope="col">N° Carril</th>
          <th fxFlex="10" scope="col">Curso</th>
          <th fxFlex="10" scope="col">Nivel</th>
          <th fxFlex="5" scope="col">Sesiones</th>
          <th fxFlex="15" scope="col">Profesor</th>
          <th fxFlex="15" scope="col">Inicio</th>
          <!-- <th fxFlex="10" scope="col">Fin</th> -->
          <th fxFlex="12" scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <ng-container formArrayName="courses">
          <ng-container *ngFor="let courseForm of courses.controls; let i = index;">
            <tr [formGroupName]="i"  fxLayout="row wrap">
              <td fxFlex="3">
                <mat-form-field appearance="outline">
                  <input matInput formControlName="id">
                </mat-form-field>
              </td>
              <td fxFlex="15">
                <mat-form-field appearance="outline">
                  <mat-select formControlName="pool">
                    <mat-option *ngFor="let pool of listPools"
                                [value]="pool.id"
                                (selectionChange)="selectPool(pool.id)">
                      {{ pool.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td fxFlex="5">
                <mat-form-field appearance="outline">
                  <mat-select formControlName="lane">
                    <mat-option *ngFor="let lane of listLanes" [value]="lane.id">
                      {{ lane.lane_no }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td fxFlex="10">
                <mat-form-field appearance="outline">
                  <mat-select formControlName="course">
                    <mat-option *ngFor="let course of listCoursesCatalog"
                                [value]="course.id"
                                (onSelectionChange)="selectCourse(i,course.id)">
                      {{ course.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td fxFlex="10">
                <mat-form-field appearance="outline">
                  <mat-select formControlName="level">
                    <mat-option *ngFor="let level of listCourses[i].listLevels"
                                [value]="level.id">
                      {{ level.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td fxFlex="5">
                <mat-form-field appearance="outline">
                  <input matInput formControlName="num_sessions">
                </mat-form-field>
              </td>
              <td fxFlex="15">
                <mat-form-field appearance="outline">
                  <input matInput formControlName="teacher">
                </mat-form-field>
              </td>
              <td fxFlex="15">
                <mat-form-field appearance="outline">
                  <input matInput
                         formControlName="startdate"
                         [matDatepicker]="pickerStartDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStartDate></mat-datepicker>
                </mat-form-field>
              </td>
              <!-- <td fxFlex="10">
                <mat-form-field appearance="outline">
                  <input matInput formControlName="enddate" [matDatepicker]="pickerEndDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEndDate></mat-datepicker>
                </mat-form-field>
              </td> -->
              <td fxFlex="12">
                <button mat-stroked-button
                        class="btn_schedule"
                        (click)="showSchedule(i)">
                  <mat-icon aria-label="Horario">
                    schedule
                  </mat-icon>
                </button>
                <button mat-stroked-button
                        color="warn"
                        class="btn_schedule"
                        (click)="deleteCourse(i)">
                  <mat-icon class="material-icons-outlined">
                    clear
                  </mat-icon>
                </button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>

    </table>
  </div>

</div>
