<h1>Cursos</h1>
<mat-divider></mat-divider>

<div class="content"
     fxLayout="column">

  <div class="search"
       fxLayout="row"
       [formGroup]="searchForm">

      <mat-form-field appearance="fill"
                      class="location">
        <mat-label>Sede</mat-label>
        <mat-select formControlName="location">
          <mat-option *ngFor="let item of listLocations" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button
              class="search_btn"
              color="primary"
              (click)="searchCourses()">
        Buscar
      </button>

  </div>

  <!-- List Courses -->
  <div *ngIf="listCourses.length" class="courses_list">
    <table class="courses_list">

      <thead>
        <tr>
          <td scope="col">Código</td>
          <td scope="col">Piscina</td>
          <td scope="col">N° Carril</td>
          <td scope="col">Curso</td>
          <td scope="col">Nivel</td>
          <td scope="col">Profesor</td>
          <td scope="col">N° Sesiones</td>
        </tr>
      </thead>

      <tbody>
        <ng-container arrayName="courses">
          <ng-container *ngFor="let course of courses.controls; let i = index">
            <tr [formGroupName]="i">

            </tr>
          </ng-container>
        </ng-container>
      </tbody>

    </table>
  </div>

  <pre>
    <code>
      {{ coursesForm.value | json }}
    </code>
  </pre>

</div>
