<div class="w-100">
  <h1 mat-dialog-title>Disponibilidad {{ day?.date | date: 'dd/MM/YYYY' }}</h1>

  <div mat-dialog-content>

    <table class="w-100">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" *ngFor="let lane of pool.lanes">
            {{ lane.lane_no }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let slot of slots">
          <td>
            {{ slot.starttime | time }} - {{ slot.endtime | time }}
          </td>
          <td *ngFor="let lane of pool.lanes">
            Nado Libre
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div mat-dialog-actions align="end">
    <button mat-flat-button
            [mat-dialog-close]="true"
            color="primary">
      Cerrar
    </button>
  </div>

</div>
