<div class="content">

  <h2 mat-dialog-title>{{ data.title }}</h2>

  <mat-dialog-content>

      <form [formGroup]="employeeForm"
            fxLayout="column">

        <div fxLayout="row">

          <div class="col"
              fxLayout="column">

            <!-- N° Documento -->
            <mat-form-field appearance="fill">
              <mat-label>N° Documento</mat-label>
              <input matInput placeholder="N° de documento"
                      formControlName="doc_num"
                      autocomplete="no">
              <button *ngIf="doc_num.value && data.create" matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="doc_num.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="doc_num.hasError">
                {{ docNumErrorMsg }}
              </mat-error>
            </mat-form-field>

            <!-- Nombres -->
            <mat-form-field appearance="fill">
              <mat-label>Nombres</mat-label>
              <input matInput placeholder="Nombres"
                      formControlName="first_name"
                      autocomplete="no">
              <button *ngIf="first_name.value" matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="first_name.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="first_name.hasError">
                Campo obligatorio
              </mat-error>
            </mat-form-field>

            <!-- Apellidos -->
            <mat-form-field appearance="fill">
              <mat-label>Apellidos</mat-label>
              <input matInput placeholder="Apellidos"
                      formControlName="last_name"
                      autocomplete="no">
              <button *ngIf="last_name.value" matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="last_name.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="last_name.hasError">
                Campo obligatorio
              </mat-error>
            </mat-form-field>

            <!-- Fecha de nacimiento -->
            <mat-form-field appearance="fill">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput
                    [matDatepicker]="picker"
                    formControlName="date_of_birth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <mat-error *ngIf="date_of_birth.hasError">
              Fecha de nacimiento es obligatoria.
              </mat-error>
            </mat-form-field>

            <!-- Sexo -->
            <div class="sex" fxLayout="column">
              <mat-label>Sexo</mat-label>
              <mat-radio-group aria-labelledby="example-radio-group-label"
                            formControlName="sex" required>
              <mat-radio-button value="M" required>Masculino</mat-radio-button>
              <mat-radio-button value="F" required>Femenino</mat-radio-button>

              </mat-radio-group>
              <mat-error *ngIf="sex.hasError && !sex.pristine">
                Campo obligatorio
              </mat-error>
            </div>

          </div>

          <div class="col" fxLayoutAlign="center center" fxLayout="column">
            <img *ngIf="!imgTmp && !employee?.user?.avatar"  src="/assets/img/no-user-image-icon-23.jpg" />
            <img *ngIf="employee?.user?.avatar && !imgTmp"  [src]="employee?.user?.avatar" />
            <img *ngIf="imgTmp"  [src]="imgTmp" />
            <mat-label *ngIf="imgName; else noImage">{{ imgName }}</mat-label>
            <ng-template #noImage><br></ng-template>
            <button mat-stroked-button
                    color="primary"
                    (click)="browseImage()">
              Seleccionar Imagen
            </button>
            <input id="fileControlInput"
                   type="file"
                   #fileInput
                   (change)="onFileChange($event)"
                   name="fileControlInput">
              <br>
          </div>
        </div>

        <div fxLayout="row">

          <div class="col"
               fxLayout="column">

            <!-- Cargo -->
            <mat-form-field appearance="fill">
              <mat-label>Cargo</mat-label>
              <mat-select formControlName="job">
                <mat-option value="RE">Recepcionista</mat-option>
                <mat-option value="AD">Administrador</mat-option>
              </mat-select>
              <mat-error *ngIf="job.hasError">
                Cargo es obligatorio
              </mat-error>
            </mat-form-field>


            <!-- Sede -->
            <mat-form-field appearance="fill">
              <mat-label>Sede</mat-label>
              <mat-select formControlName="location">
                <mat-option *ngFor="let list of listLocations" [value]="list.id">
                  {{ list.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="location.hasError">
                Sede es obligatoria
              </mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field appearance="fill" *ngIf="data.create">
              <mat-label>Contraseña</mat-label>
              <input matInput
                    type="password"
                    formControlName="password"
                    placeholder="Ingrese contraseña">
              <button *ngIf="this.password.value" matSuffix mat-icon-button aria-label="Clear" (click)="this.password.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="this.passwordErrorMsg">
                {{ passwordErrorMsg }}
              </mat-error>
            </mat-form-field>

          </div>

          <div class="col"
               fxLayout="column">

            <!-- Fecha de contratacion -->
            <mat-form-field appearance="fill">
              <mat-label>Fecha de contratación</mat-label>
              <input matInput
                    [matDatepicker]="picker2"
                    formControlName="hire_date">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>

              <mat-error *ngIf="hire_date.hasError">
              Fecha de contrato es obligatoria.
              </mat-error>
            </mat-form-field>

             <!-- Email -->
            <mat-form-field appearance="fill">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput
                    type="email"
                    formControlName="email"
                    placeholder="Ingrese correo">
              <button *ngIf="this.email.value" matSuffix mat-icon-button aria-label="Clear" (click)="this.email.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="this.email.hasError">
              {{ emailErrorMsg }}
              </mat-error>
            </mat-form-field>

            <!-- Password 2 -->
            <mat-form-field appearance="fill" *ngIf="data.create">
              <mat-label>Repetir Contraseña</mat-label>
              <input matInput
                    type="password"
                    formControlName="password2"
                    placeholder="Ingrese contraseña">
              <button *ngIf="this.password2.value" matSuffix mat-icon-button aria-label="Clear" (click)="this.password2.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="this.password2ErrorMsg">
                {{ password2ErrorMsg }}
              </mat-error>
            </mat-form-field>

          </div>

        </div>

      </form>

  </mat-dialog-content>

  <!-- Botones para cerrar y guardar -->
  <mat-dialog-actions align="end">
    <button mat-stroked-button
            [mat-dialog-close]="false">
            Cerrar
    </button>
    <button mat-flat-button
            [disabled]="employeeForm.invalid"
            color="primary"
            (click)="submit()">
            Guardar
    </button>
  </mat-dialog-actions>

</div>
