<div fxLayout="row">
  <button mat-icon-button
          (click)="back()">
    <mat-icon>
      arrow_back
    </mat-icon>
  </button>
  <h1>Cambiar clave</h1>
</div>
<mat-divider></mat-divider>

<div class="content"
     fxLayout="column"
     fxLayout.lt-md="column"
     fxLayoutGap="10px"
     fxLayoutAlign.gt-md="center center"
     class="mt-10"
     [formGroup]="passwordForm">

  <div>
    <p>La contraseña debe contener 8 caracteres como mínimo.</p>
    <p>Debe contener mayúsculas, minúsculas y números.</p>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Contraseña actual</mat-label>
    <input matInput
           type="password"
           formControlName="current">
    <mat-error *ngIf="current.hasError">
      Campo obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nueva contraseña</mat-label>
    <input matInput
           type="password"
           formControlName="newpass">
    <mat-error *ngIf="passwordErrorMsg">
      {{ passwordErrorMsg }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Repetir contraseña</mat-label>
    <input matInput
           type="password"
           formControlName="repeat">
    <mat-error *ngIf="password2ErrorMsg">
      {{ password2ErrorMsg }}
    </mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="change()">Guardar</button>

</div>
