<app-header
  title="Restablecer contraseña"
  subtitle="¿Quieres volver al inicio de sesión?"
  link="Click acá"
  route="/auth/signin">
</app-header>

<mat-card-content>
  <form [formGroup]="chgPasswdForm"
        (ngSubmit)="chgPasswd()"
        autocomplete="on"
        fxLayout="column">

    <!-- <mat-spinner></mat-spinner> -->

    <!-- Password -->
    <mat-form-field appearance="fill">
      <mat-label>Nueva Contraseña</mat-label>
      <mat-icon matPrefix>password</mat-icon>
      <input matInput
            type="password"
            formControlName="password"
            placeholder="Ingrese contraseña">
      <button *ngIf="this.password.value" matSuffix mat-icon-button aria-label="Clear" (click)="this.password.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="passwordErrorMsg">
        {{ passwordErrorMsg }}
      </mat-error>
    </mat-form-field>

    <!-- Password2 -->
    <mat-form-field appearance="fill">
      <mat-label>Repita Contraseña</mat-label>
      <mat-icon matPrefix>password</mat-icon>
      <input matInput
            type="password"
            formControlName="password2"
            placeholder="Repita contraseña">
      <button *ngIf="this.password2.value" matSuffix mat-icon-button aria-label="Clear" (click)="this.password2.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="password2ErrorMsg">
        {{ password2ErrorMsg }}
      </mat-error>
    </mat-form-field>

    <!-- Cambiar Password -->
    <button mat-flat-button
            color="primary">
      Confirmar
    </button>

  </form>
</mat-card-content>
