<div fxLayout="row">
  <button mat-icon-button
          (click)="back()">
    <mat-icon>
      arrow_back
    </mat-icon>
  </button>
  <h1 class="mt-10">Reservar</h1>
  <span class="spacer"></span>
  <button mat-flat-button
          color="primary"
          class="btn_mybookings"
          (click)="myBookings()">
    Mis Reservas
  </button>
</div>
<mat-divider></mat-divider>

<div [formGroup]="bookingForm"
     fxLayout="row wrap"
     fxLayout.lt-sm="column"
     fxLayoutGap="10px"
     fxLayoutGap.lt-sm="1px"
     class="mt-10">

  <mat-form-field appearance="fill" fxFlex="40">
    <mat-label>Sede</mat-label>
    <mat-select formControlName="location">
      <mat-option *ngFor="let item of listLocation" [value]="item.id">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" fxFlex="40">
    <mat-label>Piscina</mat-label>
    <mat-select formControlName="pool">
      <mat-option *ngFor="let item of listPools" [value]="item.id">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="w-100"
       fxLayoutAlign="center center">
      <mat-label>
        <mat-icon class="material-icons-outlined">favorite_border</mat-icon>
        {{ credits }} creditos disponibles
      </mat-label>
      <span class="spacer"></span>
      <button mat-stroked-button
              (click)="myCredits()">
        Mis Créditos
      </button>
  </div>

  <mat-tab-group class="mt-10">
    <mat-tab *ngFor="let item of listCalendar"
             [label]="item.date.toString() | titlecase">

      <div fxLayout="row wrap"
           fxLayout.lt-sm="column"
           fxLayoutGap="10px"
           fxLayoutGap.lt-sm="1px"
           class="mt-10"
           *ngIf="item.slots">
        <ng-container *ngFor="let slot of item.slots">
          <button mat-stroked-button
                  color="primary"
                  (click)="booking(item,slot)">
            {{ slot.starttime | time }}
          </button>
        </ng-container>
      </div>

      <div fxLayout="row wrap"
           fxLayout.lt-sm="column"
           fxLayoutGap="10px"
           fxLayoutGap.lt-sm="1px"
           fxLayoutAlign="center center"
           class="mt-10"
           *ngIf="!item.slots?.length">
        <p>No existen horas disponibles</p>
      </div>

    </mat-tab>
  </mat-tab-group>

</div>
