<div fxLayout="column">

  <div>
    <h1>Reservar</h1>
    <mat-divider></mat-divider>
  </div>

  <!-- Contenedor de buscar, calendario y matcard -->
  <form [formGroup]="bookingForm" fxLayout="column" fxLayout="row">

    <!-- Buscar y mat card -->
    <div fxLayout="column">

      <!-- Sede -->
      <mat-form-field appearance="fill" id="location">
        <mat-label>Sede</mat-label>
        <mat-select formControlName="location">
          <mat-option *ngFor="let list of listLocations" [value]="list.id">
            {{ list.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="location.hasError">
          Sede es obligatoria
        </mat-error>
      </mat-form-field>

      <!-- Buscar -->
      <mat-form-field appearance="fill" id="search">
        <mat-label>Buscar...</mat-label>
        <input type="text"
              matInput
              formControlName="member"
              [matAutocomplete]="autoMember">
        <button *ngIf="member.value"  matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearMember()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #autoMember="matAutocomplete" [displayWith]="displayMember">
          <mat-option *ngFor="let selected of filteredMembers | async"
                      [value]="selected"
                      (onSelectionChange)="memberChange($event, selected)">
            <div fxLayout="row">
              <img class="img_search" [src]="selected.avatar">
              {{ selected.full_name }}
            </div>
          </mat-option>
        </mat-autocomplete>
        <!-- <mat-error
          *ngIf="region.hasError">
          Campo obligatorio
        </mat-error> -->
      </mat-form-field>

      <!-- Card Miembro -->
      <mat-card id="member-card"
                *ngIf="memberSelected.full_name">
        <mat-card-title>
          {{ memberSelected.full_name }}
        </mat-card-title>
        <mat-card-content>
          <div fxlayout="row wrap">
            <div fxFlex="70">

              <mat-label matSuffix>
                <mat-icon class="material-icons-outlined">badge</mat-icon>
                {{ memberSelected.doc_num }}
              </mat-label>
              <br>

              <mat-label matSuffix>
                <mat-icon class="material-icons-outlined">account_circle</mat-icon>
                {{ memberSelected.id }}
              </mat-label>
              <br>

              <mat-label>
                <mat-icon class="material-icons-outlined">email</mat-icon>
                {{ memberSelected.email }}
              </mat-label>
              <br>

              <mat-label>
                <mat-icon class="material-icons-outlined">favorite_border</mat-icon>
                {{ credits }} créditos disponibles
              </mat-label>

            </div>
            <div fxFlex="30">
              <img class="img_card" [src]="memberSelected.avatar">
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button
                  (click)="showCredits()"
                  color="primary">
            Ver Créditos
          </button>

          <button mat-button color="primary">
            Ver Reservas
          </button>
        </mat-card-actions>
      </mat-card>

    </div>

    <!-- calendario -->
    <div fxLayout="column">
      <mat-card class="calendar-card right">
        <mat-calendar [(selected)]="dateSelected"></mat-calendar>
      </mat-card>
      <button mat-flat-button
              color="primary"
              (click)="searchSlots()">
      Buscar
      </button>
    </div>

  </form>

  <!-- Contenedor de horas disponibles -->
  <div fxLayout="row wrap"
       fxLayoutGap="20px"
       *ngIf="searched">

    <div *ngIf="listSlots.length == 0">
      <p>No se encontraron horas disponibles</p>
    </div>

    <div *ngFor="let slot of listSlots" fxFlex="15">
      <button mat-stroked-button
              class="btn_slot"
              color="primary">
        {{ slot.starttime | time }}
      </button>
    </div>

  </div>

</div>
