#location {
  width: 432px;
  margin-top: 10px;
}

#search, #pool {
  width: 432px;
}

.img_search {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.calendar-card {
  width: 330px;
  margin: 10px;
}

#member-card {
  width: 400px;
}

.img_card {
  width: 120px;
  height: 120px;
  border-radius: 15px;
}

.btn_slot {
  margin-top: 10px;
  width: 150px;
}
